h1 Hello, from pug

div
    span hello 1
    span hello 2

button My Button

a#myButton(class="btn" href="https://www.google.co.th") checkout google    
a.btn.btn-primary(href="https://www.sanook.com") checkout sanook

table
    thead
        tr
            th ID
            th Barcode
            th Name
    tbody
        tr
            td 1
            td 2002
            td Node JS basic book

ul
  each val in ["one", "two", 'three', "four"]
    li= val

ul
  each val, key in {"name": 'Christ', "lastname": "Korbet"}
    li= key +' : '+val


- let arr = []
ul
  each val in arr.length ? arr : ['This is an empty array.']
    li= val

ul
  each val in arr
    li= val
  else
    li no values in this array.


- let n = 0
ul
  while n < 4
    li= n++

div
    input(type="checkbox" name="agreement" checked) 
    span banana
     