extends layout

block content
  h1= title
  h2 on Nodemon Server
  p Hello, My name is #{title}

  form(action='/',method='post')
    input(name='lead_email', type='email', placeholder='Enter email')
    button(type='submit') Submit
