mixin head(title)
    head
        meta(charset='utf-8')
        title=title
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        meta(name='description', content='')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")